@page "/admin/category/category-brand"
@model do_an_ltweb.Admin.AdCategory.AdCategoryBrand.IndexModel
@{
    ViewData["Title"] = "Lis CategoryBrand";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<div class="mb-2">
    <a class="btn btn-secondary" asp-page="./Create">Create New CategoryBrand</a>
</div>
<div class="card mb-4">

    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable CategoryBrand
    </div>
    <div class="card-body">
        <table id="datatablesSimple">

            <thead>
                <tr>
                    <th>NameCategoryBrand</th>
                    <th>Hide</th>
                    <th>Tasks</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>NameCategoryBrand</th>
                    <th>Hide</th>
                    <th>Tasks</th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var categoryBrand in Model.CategoryBrands)
                {
                    <tr>
                        <td>@categoryBrand.NameCategory</td>
                        <td>@categoryBrand.Hide</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-brandid="@categoryBrand.IdCategory">Update</a>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-brandid="@categoryBrand.IdCategory">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
