@using Microsoft.AspNetCore.Identity
@using do_an_ltweb.Models
@using Microsoft.AspNetCore.Mvc.RazorPages

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var returnUrl = Context.Request.Path;
    var cartUrl = User.Identity.IsAuthenticated ? Url.Action("Index", "Cart") : Url.Action("Login", "Account", new { returnUrl = returnUrl });
    var iconClass = User.Identity.IsAuthenticated ? "fa fa-shopping-bag" : "fa fa-sign-in-alt";
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (await UserManager.IsInRoleAsync(user, "admin"))
    {
        <a class="nav-link" asp-area="Admin" asp-page="/AdHome/Index">Admin</a>
    }
    <li class="nav-item @(ViewContext.ActionDescriptor.DisplayName.Contains("Manage") ? "login_btn" : "")">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)!</a>
    </li>

    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>

    <li class="nav-item @(ViewContext.ActionDescriptor.DisplayName.Contains("Cart") ? "login_btn" : "")">
        <a class="nav-link" asp-controller="Cart" asp-action="Index">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </a>
    </li>
}
else
{
    <li class="nav-item @(ViewContext.ActionDescriptor.DisplayName.Contains("Login") ? "login_btn" : "")">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/Home/Index">Login</a>
    </li>

    <li class="nav-item @(ViewContext.ActionDescriptor.DisplayName.Contains("Register") ? "login_btn" : "")">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="/Home/Index">Register</a>
    </li>
}
