@page "/admin/orders"
@model do_an_ltweb.Admin.AdOrder.IndexModel
@{
    ViewData["Title"] = "List Order";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Order
    </div>
    <div class="card-body">
        <table id="datatablesSimple">

            <thead>
                <tr>
                    <th>IdOrder</th>
                    <th>UserName/UserEmail</th>
                    <th>Order Creation Time</th>
                    <th>Delivery Confirmation Time</th>
                    <th>Address</th>
                    <th>StatusAdmin</th>
                    <th>StatusUser</th>
                    <th>PaymentMethod</th>
                    <th>Total</th>
                    <th>Tasks</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>IdOrder</th>
                    <th>UserName/UserEmail</th>
                    <th>Order Creation Time</th>
                    <th>Delivery Confirmation Time</th>
                    <th>Address</th>
                    <th>StatusAdmin</th>
                    <th>StatusUser</th>
                    <th>PaymentMethod</th>
                    <th>Total</th>
                    <th>Tasks</th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.IdOrder</td>
                        <td>
                            @if (order != null && order.User != null && !string.IsNullOrEmpty(order.User.UserName))
                            {
                                <text>@order.User.UserName</text>
                            }
                            else
                            {
                                <text>@(order != null && order.User != null ? order.User.Email : "N/A")</text>
                            }
                        </td>
                        
                        <td>@(order.DateBegin.HasValue ? order.DateBegin.Value.ToString("HH:mm:ss dd/MM/yyyy") : "N/A")</td>
                        <td>@(order.DateEnd.HasValue ? order.DateEnd.Value.ToString("HH:mm:ss dd/MM/yyyy") : "N/A")</td>


                        <td>@order.Address</td>
                        <td>
                            @if (order.StatusAdmin == 0)
                            {
                                <span>Unconfimred</span>
                            }
                            else if (order.StatusAdmin == 1)
                            {
                                <span class="text-success">Confirmed</span>
                            }
                        </td>
                        <td>
                            @if (order.StatusUser == 0)
                            {
                                <span>Not received</span>
                            }
                            else if (order.StatusUser == 1)
                            {
                                <span class="text-success">Goods received</span>
                            }
                            else if (order.StatusUser == -1)
                            {
                                <span class="text-danger">Request cancellation</span>
                            }
                        </td>
                        <td>
                            @if (order.PaymentMethod == 0)
                            {
                                <span>COD</span>
                            }
                            else if (order.PaymentMethod == 1)
                            {
                                <span>VNPay</span>
                            }
                        </td>
                        <td>
                            @order.TotalBill.ToString("N0")<span>đ</span>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-page="./Detail" asp-route-orderId="@order.IdOrder">See details</a>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-orderId="@order.IdOrder">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
