@model do_an_ltweb.Models.Product
@{
    ViewData["Title"] = "Detail Product";
}

<div class="detail-product">
    <!-- content -->
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">

                <aside class="col-lg-6">

                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
                            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Model.ImageUrl" />
                        </a>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="@Model.ImageUrl" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="@Model.ImageUrl" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="@Model.ImageUrl" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="@Model.ImageUrl" />
                        </a>
                        <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" class="item-thumb">
                            <img width="60" height="60" class="rounded-2" src="@Model.ImageUrl" />
                        </a>
                    </div>

                </aside>

                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h1 class="title text-dark">
                            @Model.NameProduct
                        </h1>
                        <div class="mb-3">
                            <span class="h5">@Model.Price.ToString("N0")đ</span>
                        </div>

                        @if (Model.Nums > 0)
                        {
                            <p>
                                Status: In stock
                            </p>
                        }
                        else
                        {
                            <p>
                                Status: Out of stock
                            </p>
                        }

                        <br />

                        <div class="row">
                            <dt class="col-3">Origin:</dt>
                            @if (Model.CategoryOrigin != null)
                            {
                                <dd class="col-9">@Model.CategoryOrigin</dd>
                            }
                            else
                            {
                                <dd class="col-9">N/A</dd>
                            }

                            <dt class="col-3">Frame Color:</dt>
                            @if (Model.CategoryFrameColor != null)
                            {
                                <dd class="col-9">@Model.CategoryFrameColor</dd>
                            }
                            else
                            {
                                <dd class="col-9">N/A</dd>
                            }

                            <dt class="col-3">Iris Color:</dt>
                            @if (Model.CategoryIrisColor != null)
                            {
                                <dd class="col-9">@Model.CategoryIrisColor</dd>
                            }
                            else
                            {
                                <dd class="col-9">N/A</dd>
                            }

                            <dt class="col-3">Size:</dt>
                            @if (Model.Size != null)
                            {
                                <dd class="col-9">@Model.Size</dd>
                            }
                            else
                            {
                                <dd class="col-9">N/A</dd>
                            }

                            <dt class="col-3">Brand:</dt>
                            @if (Model.CategoryBrand != null)
                            {
                                <dd class="col-9">@Model.CategoryBrand</dd>
                            }
                            else
                            {
                                <dd class="col-9">N/A</dd>
                            }
                        </div>

                        <hr />

                        <div class="row mb-4">
                            <div class="col-md-4 col-6 mb-3">
                                <label class="mb-2 d-block">Quantity</label>
                                <div class="input-group mb-3" style="width: 170px;">
                                    <button class="btn btn-outline-secondary" type="button" id="button-subtract">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <span class="form-control text-center border border-secondary" id="display-number"></span>
                                    <button class="btn btn-outline-secondary" type="button" id="button-add">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        @*<a href="#" class="btn btn-warning shadow-0"> Buy now </a>*@
                        <a id="add-to-cart-button" class="btn btn-main shadow-0 text-white" data-product-id="@Model.IdProduct"> <i class="me-1 fa fa-shopping-basket text-white"></i> Add to cart </a>
                        <a href="#" class="btn btn-light border border-secondary icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
                    </div>
                </main>
            </div>
        </div>
    </section>
    <!-- content -->

    <div class="d-none">
        <section class="bg-light border-top py-4">
            <div class="container">
                <div class="row gx-4">
                    <div class="col-lg-8 mb-4">
                        <div class="border rounded-2 px-3 py-2 bg-white">
                            <!-- Pills navs -->
                            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                                <li class="nav-item d-flex" role="presentation">
                                    <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
                                </li>
                                <li class="nav-item d-flex" role="presentation">
                                    <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Warranty info</a>
                                </li>
                                <li class="nav-item d-flex" role="presentation">
                                    <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Shipping info</a>
                                </li>
                                <li class="nav-item d-flex" role="presentation">
                                    <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Seller profile</a>
                                </li>
                            </ul>
                            <!-- Pills navs -->
                            <!-- Pills content -->
                            <div class="tab-content" id="ex1-content">
                                <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                    <p>
                                        With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur.
                                    </p>
                                    <div class="row mb-2">
                                        <div class="col-12 col-md-6">
                                            <ul class="list-unstyled mb-0">
                                                <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                                                <li><i class="fas fa-check text-success me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                                                <li><i class="fas fa-check text-success me-2"></i>Duis aute irure dolor in reprehenderit</li>
                                                <li><i class="fas fa-check text-success me-2"></i>Optical heart sensor</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6 mb-0">
                                            <ul class="list-unstyled">
                                                <li><i class="fas fa-check text-success me-2"></i>Easy fast and ver good</li>
                                                <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                                                <li><i class="fas fa-check text-success me-2"></i>Modern style and design</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <table class="table border mt-3 mb-2">
                                        <tr>
                                            <th class="py-2">Display:</th>
                                            <td class="py-2">13.3-inch LED-backlit display with IPS</td>
                                        </tr>
                                        <tr>
                                            <th class="py-2">Processor capacity:</th>
                                            <td class="py-2">2.3GHz dual-core Intel Core i5</td>
                                        </tr>
                                        <tr>
                                            <th class="py-2">Camera quality:</th>
                                            <td class="py-2">720p FaceTime HD camera</td>
                                        </tr>
                                        <tr>
                                            <th class="py-2">Memory</th>
                                            <td class="py-2">8 GB RAM or 16 GB RAM</td>
                                        </tr>
                                        <tr>
                                            <th class="py-2">Graphics</th>
                                            <td class="py-2">Intel Iris Plus Graphics 640</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                                    Tab content or sample information now <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                    officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </div>
                                <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                                    Another tab content or sample information now <br />
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim id est laborum.
                                </div>
                                <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                                    Some other tab content or sample information now <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                    officia deserunt mollit anim id est laborum.
                                </div>
                            </div>
                            <!-- Pills content -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="px-0 border rounded-2 shadow-0">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Similar items</h5>
                                    <div class="d-flex mb-3">
                                        <a href="#" class="me-3">
                                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                        </a>
                                        <div class="info">
                                            <a href="#" class="nav-link mb-1">
                                                Rucksack Backpack Large <br />
                                                Line Mounts
                                            </a>
                                            <strong class="text-dark"> $38.90</strong>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-3">
                                        <a href="#" class="me-3">
                                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                        </a>
                                        <div class="info">
                                            <a href="#" class="nav-link mb-1">
                                                Summer New Men's Denim <br />
                                                Jeans Shorts
                                            </a>
                                            <strong class="text-dark"> $29.50</strong>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-3">
                                        <a href="#" class="me-3">
                                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                        </a>
                                        <div class="info">
                                            <a href="#" class="nav-link mb-1"> T-shirts with multiple colors, for men and lady </a>
                                            <strong class="text-dark"> $120.00</strong>
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <a href="#" class="me-3">
                                            <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                        </a>
                                        <div class="info">
                                            <a href="#" class="nav-link mb-1"> Blazer Suit Dress Jacket for Men, Blue color </a>
                                            <strong class="text-dark"> $339.90</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy các phần tử cần xử lý
        var displayNumber = document.getElementById('display-number');
        var buttonSubtract = document.getElementById('button-subtract');
        var buttonAdd = document.getElementById('button-add');
        var addToCartButton = document.getElementById('add-to-cart-button');

        // Khởi tạo giá trị ban đầu
        var quantity = 1;
        displayNumber.textContent = quantity;

        // Xử lý khi click vào nút trừ
        buttonSubtract.addEventListener('click', function () {
            // Kiểm tra nếu giá trị số hiện tại lớn hơn 1
            if (quantity > 1) {
                quantity -= 1;
                displayNumber.textContent = quantity;
            }
        });

        // Xử lý khi click vào nút cộng
        buttonAdd.addEventListener('click', function () {
            quantity += 1;
            displayNumber.textContent = quantity;
        });

        addToCartButton.addEventListener("click", function () {
        //function addToCartButton(cartItemId, quantity) { 
            // Lấy ID sản phẩm từ thuộc tính data-product-id của thẻ button
            var productId = addToCartButton.getAttribute('data-product-id');

            // Lấy giá trị quantity từ nội dung của thẻ span
            var quantity = parseInt(displayNumber.textContent);

            // Hiển thị thông tin vừa lấy được trong console
            console.log("Product ID:", productId);
            console.log("Quantity:", quantity);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/Cart/AddToCart', true);
            //xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.error) {
                            alert("Log in to add to cart");
                            console.error("Đăng nhập để thêm vào giỏ hàng");
                        } else {
                            alert("Add to cart successfully!");
                            console.log("Thêm vào giỏ hàng thành công!");
                        }
                    } else {
                        alert("Error sending request");
                        console.error("Lỗi khi gửi yêu cầu: " + xhr.statusText);
                    }
                }
            };
            xhr.send('productId=' + productId + '&quantity=' + quantity);
        });

    });

</script>