@page "/admin/category/category-origin"
@model do_an_ltweb.Admin.AdCategory.AdCategoryOrigin.IndexModel
@{
    ViewData["Title"] = "List CategoryOrigin";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<div class="mb-2">
    <a class="btn btn-secondary" asp-page="./Create">Create New CategoryOrigin</a>
</div>
<div class="card mb-4">

    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable CategoryOrigin
    </div>
    <div class="card-body">
        <table id="datatablesSimple">

            <thead>
                <tr>
                    <th>NameCategoryOrigin</th>
                    <th>Hide</th>
                    <th>Tasks</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>NameCategoryOrigin</th>
                    <th>Hide</th>
                    <th>Tasks</th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var categoryOrigin in Model.CategoryOrigins)
                {
                    <tr>
                        <td>@categoryOrigin.NameCategory</td>
                        <td>@categoryOrigin.Hide</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-originid="@categoryOrigin.IdCategory">Update</a>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-originid="@categoryOrigin.IdCategory">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
